body
    background blue
    
    
.h1 
    float left
    color blue
    
.hide_finished {
}
input[type=text] {
    width: 250px;
    height: 20px;
    border-bottom: 1px solid gray;
    box-shadow: none;
    margin: 15px 0 15px 25px;
    padding: 0 0 0 15px;
}
input[type=submit] {
    width: 50px;
    height: 20px;
    border-radius: 12px;
    margin: 15px 0 15px 35px;
}
.delete {
    background: red;
    border-radius: 7px;
    margin: 0 80px 0 0;
    color: white;
    float: right;
    height: 20px;
    width: 70px;
    border: 0;
}
.datLI {
    margin: 20px 0 40px 0;
    list-style: none;
}
.checked {
    text-decoration: underline;
    text-decoration-color: gray;
    color: gray;
}
